BeautifulSoup==3.2.1
Django==1.5.1
PIL==1.1.7
Pygments==1.6
South==0.8.2
django-blog-zinnia==0.12.3
django-extensions==1.2.5
django-mptt==0.5.5
django-pygments==0.1
django-scss==0.6.1
django-tagging==0.3.1
django-xmlrpc==0.1.5
pyparsing==1.5.7
pytz==2013.7
six==1.4.1
solid-i18n==0.2.1
wsgiref==0.1.2
django-coffeescript==0.7.2