/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    background-color: #F0F2F5 !important;

    color: #414247 !important;
    font-family: "Myriad Pro", myriad-pro, Verdana, serif !important;
 }

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #313236;

    color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding-top: 60px;
}
.container .credit {
    margin: 20px 0;

}

code {
    font-size: 80%;
}


h2 {
    font-size: 2em !important;
    text-transform: uppercase;
}


h1 {
    display: block;
    font-size: 6em !important;
}

abbr {
    color: #38A5DD;
}

.navbar .brand{
    float: left;
    color: #313236 !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}

.navbar .nav-collapse {
    float: right;
}
.navbar .nav > li > a {
    font-weight: 600;
    text-transform: uppercase;
    color: #313236 !important;

}


article {
    display: inline;
    float: right;
    font-size: 1.2em;
    margin-bottom: 4em;
    margin-right: 0;
    width: 66.1017%;
}
.nav {
    list-style-type: none !important;
}
.navbar li{
    list-style-image: none !important;
}
