<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Bogdan Marchenko</title>
    <meta name="description" content="Homepage of Bogdan Marchenko. Python Engineer in Ukraine." />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/ico" />
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="http://www.roguelynn.com/feed.xml" />

    <!--Stylesheets-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/lightbox.css" media="screen" title="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" media="screen" title="screen">


    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>
<div class="nav-wrapper">
    <nav>
        <ul class="title">
            <li class="name"><a class="current" href="/">Bogdan Marchenko</a></li>
            {#            <li class="desc">Coder • Writer • Speaker • PyLady</li>#}
        </ul>
        <ul class="contents">
            <li class="page_item"><a href="/">Home</a></li>
            <li class="page_item"><a href="/about/">About</a></li>
        </ul>
    </nav>
</div>
<div class="page">

{% block content %}
{% endblock %}
</div>

<div class="footer-wrapper">
    <footer id="bottom">
        <ul class="social">
            {#            <li><a class="icon github" data-icon="&#62208;" href="http://github.com/econchick" title="GitHub"></a></li>#}
            {#            <li><a class="icon rss" data-icon="&#59194;" href="http://www.roguelynn.com/feed.xml" title="RSS"></a></li>#}
            <li>© 2013 Bogdan Marchenko. All Rights Reserved.</li>
        </ul>
    </footer>
</div>
<!--Javascript-->
<script src="/assets/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39155239-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>