{% extends 'base.html' %}
{% load i18n %}


{% block container %}
	<section id="splash">
        <h2>{% trans 'Some short info about myself' %}</h2>
    </section>
        <img class="inline myphoto" title="Bogdan Marchenko" src="{{ STATIC_URL }}img/bmarchenko.jpg" alt="Bogdan Marchenko" width=250px/>
    <article>
        {% blocktrans %}
            <p>My name is Bogdan Marchenko. I am a Python developer in Ukraine and love to work with <a rel="nofollow" href="https://www.djangoproject.com/‎ target="_blank"">Django Framework.</a></p>
            <p>I am always open to new people, projects and ideas.</p>
            <p>If you want to <b>learn/improve you Python Programming</b> skills, come to <a rel="nofollow" href="http://en.wikipedia.org/wiki/Ukraine" target="_blank">Ukraine</a> or <b>travel</b> with me don't hesitate and <a rel="nofollow" href="mailto:me@bmarchenko.com" target="_blank">contact me</a>.</p>

            <br>
            <h3 class="muted">Contacts:</h3>
            <p>My full resume can be found on <a rel="nofollow" href="http://careers.stackoverflow.com/bmarchenko" target="_blank">Stackoverflow</a>.</p>
            <p>For more information about my personal projects please, visit <a rel="nofollow" href="https://github.com/bmarchenko" target="_blank">GitHub</a>.</p>
            <p> <a rel="nofollow" href="mailto:me@bmarchenko.com" target="_blank">me@bmarchenko.com</a> </p>
            <p> <a rel="nofollow" href="https://www.facebook.com/bogdan.marchenko.18" target="_blank">www.facebook.com/bogdan.marchenko.18</a> </p>
            <p> <a rel="nofollow" href="https://www.odesk.com/users/~01692e8d9e2829ddf3" target="_blank">www.odesk.com/users/~01692e8d9e2829ddf3</a> </p>
        {% endblocktrans %}
        <h3>{% trans "Visited countries:" %}</h3>

    </article>
<div id="mapdiv" style="width: 1000px; height: 450px;"></div>
{% endblock %}
{% block script %}
<script src="http://cdn.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
<script src="http://cdn.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
<script src="http://cdn.amcharts.com/lib/3/themes/dark.js" type="text/javascript"></script>
<script type="text/javascript">
var map = AmCharts.makeChart("mapdiv",{
    type: "map",
    theme: "dark",
    pathToImages : "http://cdn.amcharts.com/lib/3/images/",
    panEventsEnabled : true,
    backgroundColor : "#33333D",
    backgroundAlpha : 1,
    zoomControl: {
    panControlEnabled : true,
    zoomControlEnabled : true
},
dataProvider : {
map : "worldHigh",
getAreasFromMap : true,
areas :
[
	{
		"id": "BY",
		"showAsSelected": true
	},
	{
		"id": "DE",
		"showAsSelected": true
	},
	{
		"id": "IT",
		"showAsSelected": true
	},
	{
		"id": "PL",
		"showAsSelected": true
	},
	{
		"id": "UA",
		"showAsSelected": true
	},
	{
		"id": "RU",
		"showAsSelected": true
	},
	{
		"id": "US",
		"showAsSelected": true
	},
	{
		"id": "EG",
		"showAsSelected": true
	},
    {
		"id": "TR",
		"showAsSelected": true
	},
	{
		"id": "IL",
		"showAsSelected": true
	},
	{
		"id": "CH",
		"showAsSelected": true
	},
	{
		"id": "SE",
		"showAsSelected": true
	},
	{
		"id": "DK",
		"showAsSelected": true
	},
	{
		"id": "NL",
		"showAsSelected": true
	}

]
},
areasSettings : {
autoZoom : true,
color : "#B4B4B7",
colorSolid : "#84ADE9",
selectedColor : "#84ADE9",
outlineColor : "#666666",
rollOverColor : "#9EC2F7",
rollOverOutlineColor : "#000000"
}
});
</script>
{% endblock %}