{% extends 'base.html' %}
{% load i18n %}


{% block container %}

      <section id="splash">
      <h2>Some short info about myself</h2>
    </section>
    <img class="inline myphoto" title="Bogdan Marchenko" src="{{ STATIC_URL }}img/bmarchenko.jpg" alt="Bogdan Marchenko" width=250px/>
    <article>
      {% blocktrans %}
        <p>I am a Python developer in Ukraine and love to work with <a rel="nofollow" href="https://www.djangoproject.com/‎ target="_blank"">Django Framework.</a></p>
        <p>I am always open to new people, projects and ideas.</p>
        <p>If you want to <b>learn/improve you Python Programming</b> skills, come to <a rel="nofollow" href="http://en.wikipedia.org/wiki/Ukraine" target="_blank">Ukraine</a> or <b>travel</b> with me don't hesitate and <a rel="nofollow" href="mailto:me@bmarchenko.com" target="_blank">contact me</a>.</p>

        <br>
        <h3 class="muted">Contacts:</h3>
        <p>My full resume can be found on <a rel="nofollow" href="http://careers.stackoverflow.com/bmarchenko" target="_blank">Stackoverflow</a>.</p>
        <p>For more information about my personal projects please, visit <a rel="nofollow" href="https://github.com/bmarchenko" target="_blank">GitHub</a>.</p>
        <p> <a rel="nofollow" href="mailto:me@bmarchenko.com" target="_blank">me@bmarchenko.com</a> </p>
        <p> <a rel="nofollow" href="https://www.facebook.com/bogdan.marchenko.18" target="_blank">www.facebook.com/bogdan.marchenko.18</a> </p>
        <p> <a rel="nofollow" href="https://www.odesk.com/users/~01692e8d9e2829ddf3" target="_blank">www.odesk.com/users/~01692e8d9e2829ddf3</a> </p>
      {% endblocktrans %}
    </article>

{% endblock %}