<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <title>Bogdan Marchenko</title>
    <meta name="description" content="Homepage of Bogdan Marchenko. Python and Django Developer in Ukraine." />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/ico" />

    <!--Stylesheets-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/basic.css">
    <link rel="stylesheet" href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css">

    {% block extra_styles %}{% endblock %}
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

<!-- Part 1: Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Bogdan Marchenko</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="page_item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="page_item"><a href="{% url 'zinnia_entry_archive_index' %}">Blog</a></li>
                        <li class="page_item"><a href="{% url 'books' %}">Books</a></li>
                        <li class="page_item"><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>

    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">

                    <p class="muted credit">© 2013 Bogdan Marchenko. All Rights Reserved.</p>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39155239-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>