{% extends 'base.html' %}
{% load i18n %}

{% block script %}
  <script src="{{ STATIC_URL }}js/jquery.bxslider/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL}}js/index.js"></script>
{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/index.css" />
{% endblock %}

{% block container %}
  <h3 class="text-center muted">{% trans "WEB DEVELOPMENT:" %}</h3>
  <section class="slides">
    <div class="screen-white"></div>
    <ul class="image-slider">
      <li><img src="{{ STATIC_URL }}/img/interior-design.png">{% blocktrans %}<span><a href="http://www.interiordesign.net/" target="_blank">Interior Design </a>Magazine website</span>{% endblocktrans %}</li>
      <li><img src="{{ STATIC_URL }}/img/treatment.png">{% blocktrans %}<span>A Telehealth Patient Consulting Service <a href="http://treatment.com/" target="_blank">Treatment. Patient Self-Care.</a></span>{% endblocktrans %}</li>
      <li><img src="{{ STATIC_URL }}/img/telemedia.png">{% blocktrans %}<span><a href='http://www.telemedia.ua/' target="_blank">Telemedia</a> website</span>{% endblocktrans %}</li>
      <li><img src="{{ STATIC_URL }}/img/oerc.png">{% blocktrans %}<span><a href='https://www.oercommons.org/' target="_blank">Open Educational Resources Commons</a> website</span>{% endblocktrans %}</li>
      <li><img src="{{ STATIC_URL }}/img/carbon-delta.png">{% blocktrans %}<span><a href='http://www.carbon-delta.com/' target="_blank">CARBON DELTA</a></span>{% endblocktrans %}</li>
      <li><img src="{{ STATIC_URL }}/img/mynewenergy.png">{% blocktrans %}<span><a href='http://www.mynewenergy.ch/' target="_blank">MyNewenergy</a></span>{% endblocktrans %}</li>
    </ul>
  </section>

{% endblock %}
