{% extends 'base.html' %}
{% block container %}


    <section id="main">
        <section id="splash">
            <h2>Homepage of <a href="{% url 'learning' %}">Bogdan Marchenko</a></h2>
        </section>
        <img class="inline" title="Bogdan Marchenko" src="{{ STATIC_URL }}img/bmarchenko.jpg" alt="Bogdan Marchenko" width=250px/>
        <article>
            <br>
            <p>I am a Python developer in Ukraine. I love to work with <a rel="nofollow" href="https://www.djangoproject.com/‎ target="_blank"">Django Framework</a> and this is what I do:</p>
            <ul>
                <li>Web Applications</li>
                <li>Content Management Systems (CMS)</li>
                <li>Data Harvesting</li>
            </ul>
            <br>
            <p>My full resume can be found on <a rel="nofollow" href="http://careers.stackoverflow.com/bmarchenko" target="_blank">Stackoverflow</a>.</p>
            <p>For more information about my personal projects please, visit <a rel="nofollow" href="https://github.com/bmarchenko" target="_blank">GitHub</a>.</p>
            <br>
            <h3 class="muted">Contacts:</h3>
            <p> <a rel="nofollow" href="mailto:me@bmarchenko.com" target="_blank">me@bmarchenko.com</a> </p>
            <p> <a rel="nofollow" href="https://www.facebook.com/bogdan.marchenko.18" target="_blank">www.facebook.com/bogdan.marchenko.18</a> </p>
            <p> <a rel="nofollow" href="https://www.odesk.com/users/~01692e8d9e2829ddf3" target="_blank">www.odesk.com/users/~01692e8d9e2829ddf3</a> </p>
        </article>
    </section>


{% endblock %}
