{% extends "base.html" %}
{% block container %}
<h2>Learning</h2>
<br>
    <p>To my mind learning must never stop. I studied in two universities but Web Development is what I learned from the scratch by myself. I love <a href="https://www.coursera.org/‎">Coursera</a> and develop a <a href="http://www.oercommons.org/"> learning project</a>. </p>
    <br>
    <p>I am always open to new people, projects and ideas.</p>
    <p>If you want to <b>learn/improve you Python Programming</b> skills don't hesitate and <a href="mailto:bogdan.marko@gmail.com">contact me</a>.</p>
    <p>If you want to come to <a href="http://en.wikipedia.org/wiki/Ukraine">Ukraine</a> or <b>travel</b> with me <a href="mailto:bogdan.marko@gmail.com">contact me</a>.</p>
    <p>If you want to <b>share your idea</b> <a href="mailto:bogdan.marko@gmail.com">contact me</a>.</p>
    <br>
    <p>Also check <a href="/materials">Materials</a> that I recommend.</p>
{% endblock %}

