{% extends "base.html" %}
{% block container %}
<h2>Materials:</h2>
<br>
    <ul>
        <li><a href="http://sist.sysu.edu.cn/~isslxm/DSA/textbook/Skiena.-.TheAlgorithmDesignManual.pdf">The Algorithm Design Manual.</a>  Steve S. Skiena</li>
        <li><a href="http://besplatnyeknigi.ru/files/new/atlant_raspravil_plechi_kniga___1/atlant_raspravil_plechi_kniga___1.pdf.zip">Атлант расправил плечи.</a>  Айн Рэнд</li>
        <li><a href="http://www.alperkimya.com.tr/licomas/app/files/modules/dosyalar/dosyalar_file/The%20Pragmatic%20Programmer,%20From%20Journeyman%20To%20Master.pdf">The Pragmatic Programmer.</a>  Andrew Hunt, David Thomas</li>
        <li><a href="http://www.puyb.net/download/djangobook/res.pdf">Djangobook.</a> </li>
        <li><a href="http://blakemasters.com/peter-thiels-cs183-startup">Notes Essays—Peter Thiel’s CS183: Startup—Stanford, Spring 2012</a> </li>
        <li><a href="https://class.coursera.org/startup-001/class/index">Startup Engineering Course</a> by Balaji S. Srinivasan, Vijay S. Pande  </li>
    </ul>
{% endblock %}

