{% extends "base.html" %}
{% block container %}
<h2>Projects:</h2>
    <div class="technology-img">
        <img class="inline" title="Python" src="{{ STATIC_URL }}img/train.png" alt="Train Tickets" width="200px"/>
    </div>

    <div class="technology-description">
        <h3>Train tickets</h3><a rel="nofollow" href="http://train-tickets.com.ua/" target="_blank">www.train-tickets.com.ua</a> <p>There is a lack of train tickets in Ukraine (especially in summer). Users of the service get notified when needed tickets are available for sale. I plan to expand functionality, to sell tickets, find routes with transfers and many others.</p>
    </div>

{% endblock %}

