{% extends "base.html" %}
{% load i18n %}

{% block container %}
<h2>{% trans "Technologies" %}:</h2>
<br>
    <div class="technology-img">
        <img class="inline" title="Python" src="{{ STATIC_URL }}img/python.png" alt="Python" width="200px"/>
    </div>

    <div class="technology-description">
        <h3>Python</h3><a rel="nofollow" href="http://www.python.org/" target="_blank">www.python.org</a> <p>Python is a dynamic object-oriented programming language that can be used for many kinds of software development. It offers strong support for integration with other languages and tools, comes with extensive standart libraries, and can be learned in a few days.</p>
    </div>

    <div style="clear:both"></div>
    <div class="technology-img">
        <img class="inline" title="Django" src="{{ STATIC_URL }}img/django.png" alt="Django" width="200px"/>
    </div>

    <div class="technology-description">
        <h3>Django</h3><a rel="nofollow" href="www.djangoproject.com" target="_blank">www.djangoproject.com</a> <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</p>
    </div>
    <div style="clear:both"></div>

    <div class="technology-img">
        <img class="inline" title="AppEngine" src="{{ STATIC_URL }}img/appengine.png" alt="AppEngine" width="200px"/>
    </div>

    <div class="technology-description">
        <h3>Google AppEngine</h3><a rel="nofollow" href="https://developers.google.com/appengine/" target="_blank">google.com/appengine/</a> <p>App Engine is a complete development stack that uses familiar technologies to build and host applications on the same infrastructure used at Google..</p>
    </div>
    <div style="clear:both"></div>
    <div class="technology-img">
        <img class="inline" title="Other technologies" src="{{ STATIC_URL }}img/other_tech.png" alt="Other technologies" width="200px"/>
    </div>

    <div class="technology-description">
        <h3>{% trans "Other technologies" %}</h3>
        <ul class="other-technologies">
            <li><a rel="nofollow" target="_blank" href="http://jquery.com/">JQuery</a></li>
            <li><a rel="nofollow" target="_blank" href="http://lucene.apache.org/solr/">Solr</a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.sencha.com/products/extjs/#overview">ExtJs</a></li>
            <li><a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/JavaScript">JavaScript</a></li>
            <li><a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a></li>
            <li><a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Ajax">Ajax</a></li>
            <li><a rel="nofollow" target="_blank" href="http://www.postgresql.org/">PostgreSQL</a></li>
        </ul>
    </div>

{% endblock %}

