{% extends "base.html" %}
{% block container %}
<h1>About</h1>
<br>
<img class="inline" title="Bogdan Marchenko, the Superuser" src="{{ STATIC_URL }}img/bmarchenko.jpg" alt="Bogdan Marchenko" width=250px/>
<article>
    <p><b>"U CAN HAS MOAR APPLICATIONS IN PYTHON"</b></p>
    <p style="padding-left: 380px;">-LOLCat</p>
    <br>
    <p>My personal projects can be found on <a href="https://github.com/bmarchenko" rel="author">GitHub</a>.</p>
    <br>
    <p>My resume can be found on <a href="http://careers.stackoverflow.com/bmarchenko" rel="author">Stackoverflow</a>.</p>
    <br>
    <p> <a href="mailto:bogdan.marko@gmail.com">bogdan.marko@gmail.com</a> </p>
</article>
{% endblock %}

