.screen-white {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #F0F2F5; }

ul.image-slider {
  margin: 0 !important; }

.bx-wrapper .bx-viewport {
  border: none !important;
  left: 0px !important;
}

.slides {
  visibility: hidden;
  position: relative;
}

.ready {
  visibility: visible;
}